<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/ej_2_reservashoteles2018</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">usbw</property>
    <mapping resource="mapeos/Hoteles.xml"/>
    <mapping resource="mapeos/Clientes.xml"/>
    <mapping resource="mapeos/Habitaciones.hbm.xml"/>
    <mapping resource="mapeos/Reservas.xml"/>
  </session-factory>
</hibernate-configuration>
